<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BLOG ADMIN | Homepage</title>
    <!-- Bootstrap core CSS -->
    <link href="/dashboard/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="/dashboard/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- Add custom CSS here -->
    <link href="/dashboard/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> -->
  </head>