<head>
    <title>IIITL BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link id="browser_favicon" rel="shortcut icon" href="blogadmin/images/95401600_1524766758.jpg">
    <meta charset="utf-8" name="description"
        content="This is a blog and content management system,You can easily setup your blog and customize it according to your needs.This is a short description of your blog.You can change this">
    <meta name="keywords" content="blog,tech blog,tricks,hacks,technology news,fantastic blog" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/jquery.desoslide.css">
    <link href="/style.css" rel='stylesheet' type='text/css' />
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>