<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<%- include('./partials/blogview-head.ejs') %>

	<body>
		<div class="container theme-yeti theme-compact">

			<nav class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- application title is obtained from the name besides the yellow database icon in AppGini, use underscores for spaces -->
					<a class="navbar-brand" href="/dashboard"><i class="glyphicon glyphicon-home"></i> BLOG ADMIN</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Jump to ... <b
									class="caret"></b></a>
							<ul class="dropdown-menu" role="menu">

								<li><a href="blog_categories_view.php?t=1670862604"><img
											src="resources/table_icons/award_star_bronze_2.png" height="32"> Blog
										categories</a></li>
								<li><a href="/blog-view"><img src="resources/table_icons/feed.png"
											height="32"> Blogs</a></li>
								<!-- <li><a href="editors_choice_view.php?t=1670862604"><img
											src="resources/table_icons/bullet_star.png" height="32"> Editors choice</a> -->
						</li>
					</ul>
					</li>
					</ul>

					<ul class="nav navbar-nav navbar-right hidden-xs" style="min-width: 330px;">
						<a class="btn navbar-btn btn-default" href="/login"><i class="glyphicon glyphicon-log-out"></i>
							Sign Out</a>
						<p class="navbar-text">
							Signed in as <strong><a href="#" class="navbar-link">user</a></strong>
						</p>
					</ul>
					<ul class="nav navbar-nav visible-xs">
						<a class="btn navbar-btn btn-default btn-lg visible-xs" href="/login"><i
								class="glyphicon glyphicon-log-out"></i> Sign Out</a>
						<p class="navbar-text text-center">
							Signed in as <strong><a href="#" class="navbar-link">user</a></strong>
						</p>
					</ul>
					<script>
						/* periodically check if user is still signed in */
						setInterval(function () {
							$j.ajax({
								url: 'ajax_check_login.php',
								success: function (username) {
									if (!username.length) window.location = 'index.php?signIn=1';
								}
							});
						}, 60000);
					</script>
				</div>
			</nav>
			<div style="height: 70px;" class="hidden-print"></div>


			<div class="notifcation-placeholder" id="notifcation-placeholder-70744193"></div>
			<script>
				$j(function () {
					if (window.show_notification != undefined) return;

					window.show_notification = function (options) {
						/* wait till all dependencies ready */
						if (window.notifications_ready == undefined) {
							var op = options;
							setTimeout(function () { show_notification(op); }, 20);
							return;
						}

						var dismiss_class = '';
						var dismiss_icon = '';
						var cookie_name = 'hide_notification_' + options.id;
						var notif_id = 'notifcation-' + Math.ceil(Math.random() * 1000000);

						/* apply provided notficiation id if unique in page */
						if (options.id != undefined) {
							if (!$j('#' + options.id).length) notif_id = options.id;
						}

						/* notifcation should be hidden? */
						if (Cookies.get(cookie_name) != undefined) return;

						/* notification should be dismissable? */
						if (options.dismiss_seconds > 0 || options.dismiss_days > 0) {
							dismiss_class = ' alert-dismissible';
							dismiss_icon = '<button type="button" class="close" data-dismiss="alert">&times;</button>';
						}

						/* remove old dismissed notficiations */
						$j('.alert-dismissible.invisible').remove();

						/* append notification to notifications container */
						$j(
							'<div class="alert alert-' + options['class'] + dismiss_class + '" id="' + notif_id + '">' +
							dismiss_icon +
							options.message +
							'</div>'
						).appendTo('#notifcation-placeholder-70744193');

						var this_notif = $j('#' + notif_id);

						/* dismiss after x seconds if requested */
						if (options.dismiss_seconds > 0) {
							setTimeout(function () { this_notif.addClass('invisible'); }, options.dismiss_seconds * 1000);
						}

						/* dismiss for x days if requested and user dismisses it */
						if (options.dismiss_days > 0) {
							var ex_days = options.dismiss_days;
							this_notif.on('closed.bs.alert', function () {
								/* set a cookie not to show this alert for ex_days */
								Cookies.set(cookie_name, '1', { expires: ex_days });
							});
						}
					}

					/* cookies library already loaded? */
					if (undefined != window.Cookies) {
						window.notifications_ready = true;
						return;
					}

					/* load cookies library */
					$j.ajax({
						url: 'resources/jscookie/js.cookie.js',
						dataType: 'script',
						cache: true,
						success: function () { window.notifications_ready = true; }
					});
				})
			</script>


			<!-- process notifications -->
			<div style="height: 60px; margin: -15px 0 -45px;">
			</div>

			<!-- Add header template below here .. -->

			<div class="row">
				<div class="col-xs-12">
					<form enctype="multipart/form-data" method="post" name="myform" action="/api/add-blog">
						<script>function enterAction() { if ($j("input[name=SearchString]:focus").length) { $j("#Search").click(); } return false; }</script>
						<input id="EnterAction" type="submit" style="position: absolute; left: 0px; top: -250px;"
							onclick="return enterAction();">
						<div class="page-header">
							<h1>
								<div class="row">
									<div class="col-sm-8"><a style="text-decoration: none; color: inherit;"
											href="/blog-view"><img src="resources/table_icons/feed.png"> Blogs</a>
									</div>
									<div class="col-sm-4">
										<div class="input-group" id="quick-search">
											<input type="text" id="SearchString" name="SearchString" value=""
												class="form-control" placeholder="Quick Search">
											<span class="input-group-btn">
												<button name="Search_x" value="1" id="Search" type="submit"
													onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; return true;"
													class="btn btn-default" title="Quick Search"><i
														class="glyphicon glyphicon-search"></i></button>
								
											</span>
										</div>
									</div>
								</div>
							</h1>
						</div>
						<div id="top_buttons" class="hidden-print">
							<div class="btn-group btn-group-lg visible-md visible-lg all_records pull-left"><button
									type="submit" id="addNew" name="addNew_x" value="1" class="btn btn-success"><i
										class="glyphicon glyphicon-plus-sign"></i> Add New</button></div>
							
							<script>
								const Blog = require('../models/blog');
								const titles = await Blog.findOne
							</script>
							<p></p>
						</div>
					
						<div class="row">
							<div class="table_view col-xs-12 ">
								<script>jQuery(function () { jQuery("input[name=SearchString]").focus(); jQuery('[id=selected_records_print_multiple_dv_sdv]').click(function () { print_multiple_dv_sdv('blogs', get_selected_records_ids()); return false; }); jQuery('[id=selected_records_mass_delete]').click(function () { mass_delete('blogs', get_selected_records_ids()); return false; }); jQuery('[id=selected_records_mass_change_owner]').click(function () { mass_change_owner('blogs', get_selected_records_ids()); return false; }); jQuery('[id=selected_records_add_more_actions_link]').click(function () { add_more_actions_link('blogs', get_selected_records_ids()); return false; }); });</script>
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th style="width: 18px;" class="text-center"><input class="hidden-print"
														type="checkbox" title="Select all records"
														id="select_all_records"></th>
												<th class="blogs-title"><a
														href="blog-view?SortDirection=asc&SortField=2"
														onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; document.myform.SortDirection.value='asc'; document.myform.SortField.value = '2'; document.myform.submit(); return false;"
														class="TableHeader">Title</a></th>
												<th class="blogs-category"><a
														href="blog-view?SortDirection=asc&SortField=3"
														onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; document.myform.SortDirection.value='asc'; document.myform.SortField.value = '3'; document.myform.submit(); return false;"
														class="TableHeader">Category</a></th>
												<th class="blogs-content"><a
														href="blog-view?SortDirection=asc&SortField=5"
														onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; document.myform.SortDirection.value='asc'; document.myform.SortField.value = '5'; document.myform.submit(); return false;"
														class="TableHeader">Content</a></th>
												<th class="blogs-date"><a
														href="blog-view?SortDirection=asc&SortField=7"
														onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; document.myform.SortDirection.value='asc'; document.myform.SortField.value = '7'; document.myform.submit(); return false;"
														class="TableHeader">Date</a></th>
												<th class="blogs-author"><a
														href="blog-view?SortDirection=asc&SortField=8"
														onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; document.myform.SortDirection.value='asc'; document.myform.SortField.value = '8'; document.myform.submit(); return false;"
														class="TableHeader">Author</a></th>
											</tr>

										</thead>
										<tbody>
											

										</tbody>
										<tfoot>
											<tr>
												<td colspan=9>Records 1 to 6 of 6</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="row pagination-section">
									<div class="col-xs-4 col-md-3 col-lg-2 vspacer-lg"><button
											onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value = 1; return true;"
											type="submit" name="Previous_x" id="Previous" value="1"
											class="btn btn-default btn-block"><i
												class="glyphicon glyphicon-chevron-left"></i> <span
												class="hidden-xs">Previous</span></button></div>
									<div
										class="col-xs-4 col-md-4 col-lg-2 col-md-offset-1 col-lg-offset-3 text-center vspacer-lg">
									</div>
									<div
										class="col-xs-4 col-md-3 col-lg-2 col-md-offset-1 col-lg-offset-3 text-right vspacer-lg">
										<button
											onClick="document.myform.SelectedID.value = ''; document.myform.NoDV.value=1; return true;"
											type="submit" name="Next_x" id="Next" value="1"
											class="btn btn-default btn-block"><span class="hidden-xs">Next</span> <i
												class="glyphicon glyphicon-chevron-right"></i></button>
									</div>
								</div>
							</div><!-- possible values for current_view: TV, TVP, DV, DVP, Filters, TVDV --><input
								name="current_view" id="current_view" value="TV" type="hidden"><input name="SortField"
								value="" type="hidden"><input name="SelectedID" value="" type="hidden"><input
								name="SelectedField" value="" type="hidden"><input name="SortDirection" type="hidden"
								value=""><input name="FirstRecord" type="hidden" value="1"><input name="NoDV"
								type="hidden" value=""><input name="PrintDV" type="hidden" value=""><input
								name="FilterAnd[5]" value="and" type="hidden">
							<input name="FilterAnd[9]" value="and" type="hidden">
							<input name="FilterAnd[13]" value="and" type="hidden">
							<input name="FilterAnd[17]" value="and" type="hidden">
							<input name="FilterAnd[21]" value="and" type="hidden">
							<input name="FilterAnd[25]" value="and" type="hidden">
							<input name="FilterAnd[29]" value="and" type="hidden">
							<input name="FilterAnd[33]" value="and" type="hidden">
							<input name="FilterAnd[37]" value="and" type="hidden">
							<input name="FilterAnd[41]" value="and" type="hidden">
							<input name="FilterAnd[45]" value="and" type="hidden">
							<input name="FilterAnd[49]" value="and" type="hidden">
							<input name="FilterAnd[53]" value="and" type="hidden">
							<input name="FilterAnd[57]" value="and" type="hidden">
							<input name="FilterAnd[61]" value="and" type="hidden">
							<input name="FilterAnd[65]" value="and" type="hidden">
							<input name="FilterAnd[69]" value="and" type="hidden">
							<input name="FilterAnd[73]" value="and" type="hidden">
							<input name="FilterAnd[77]" value="and" type="hidden">
							<input name="DisplayRecords" value="all" type="hidden" />
						</div>
					</form>
				</div>
				<div class="col-xs-1 md-hidden lg-hidden"></div>
			</div> <!-- Add footer template above here -->
			<div class="clearfix"></div>
			<div style="height: 70px;" class="hidden-print"></div>

		</div> <!-- /div class="container" -->
		<script src="resources/lightbox/js/lightbox.min.js"></script>
	</body>

</html>