<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<%- include('./partials/login-head.ejs') %>

    <body>
        <div class="container theme-yeti theme-compact">

            <nav class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- application title is obtained from the name besides the yellow database icon in AppGini, use underscores for spaces -->
                    <a class="navbar-brand" href="/login"><i class="glyphicon glyphicon-home"></i> BLOG ADMIN</a>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text navbar-right">&nbsp;</p>
                    <a href="\login" class="btn btn-success navbar-btn navbar-right">Sign In</a>
                    <p class="navbar-text navbar-right">
                        You are not signed in </p>
                </div>
            </nav>
            <div style="height: 70px;" class="hidden-print"></div>


            <div class="notifcation-placeholder" id="notifcation-placeholder-84538069"></div>
            <script>
                $j(function () {
                    if (window.show_notification != undefined) return;

                    window.show_notification = function (options) {
                        /* wait till all dependencies ready */
                        if (window.notifications_ready == undefined) {
                            var op = options;
                            setTimeout(function () { show_notification(op); }, 20);
                            return;
                        }

                        var dismiss_class = '';
                        var dismiss_icon = '';
                        var cookie_name = 'hide_notification_' + options.id;
                        var notif_id = 'notifcation-' + Math.ceil(Math.random() * 1000000);

                        /* apply provided notficiation id if unique in page */
                        if (options.id != undefined) {
                            if (!$j('#' + options.id).length) notif_id = options.id;
                        }

                        /* notifcation should be hidden? */
                        if (Cookies.get(cookie_name) != undefined) return;

                        /* notification should be dismissable? */
                        if (options.dismiss_seconds > 0 || options.dismiss_days > 0) {
                            dismiss_class = ' alert-dismissible';
                            dismiss_icon = '<button type="button" class="close" data-dismiss="alert">&times;</button>';
                        }

                        /* remove old dismissed notficiations */
                        $j('.alert-dismissible.invisible').remove();

                        /* append notification to notifications container */
                        $j(
                            '<div class="alert alert-' + options['class'] + dismiss_class + '" id="' + notif_id + '">' +
                            dismiss_icon +
                            options.message +
                            '</div>'
                        ).appendTo('#notifcation-placeholder-84538069');

                        var this_notif = $j('#' + notif_id);

                        /* dismiss after x seconds if requested */
                        if (options.dismiss_seconds > 0) {
                            setTimeout(function () { this_notif.addClass('invisible'); }, options.dismiss_seconds * 1000);
                        }

                        /* dismiss for x days if requested and user dismisses it */
                        if (options.dismiss_days > 0) {
                            var ex_days = options.dismiss_days;
                            this_notif.on('closed.bs.alert', function () {
                                /* set a cookie not to show this alert for ex_days */
                                Cookies.set(cookie_name, '1', { expires: ex_days });
                            });
                        }
                    }

                    /* cookies library already loaded? */
                    if (undefined != window.Cookies) {
                        window.notifications_ready = true;
                        return;
                    }

                    /* load cookies library */
                    $j.ajax({
                        url: 'resources/jscookie/js.cookie.js',
                        dataType: 'script',
                        cache: true,
                        success: function () { window.notifications_ready = true; }
                    });
                })
            </script>


            <!-- process notifications -->
            <div style="height: 60px; margin: -15px 0 -45px;">
            </div>

            <!-- Add header template below here .. -->

            <div class="page-header">
                <h1>Password Reset Page</h1>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <form id="pwd-change">
                        <br>
                        <br>
                        <div class="form-group">
                            <label for="password" class="control-label">New Password</label>
                            <input type="text" class="form-control" id="password" name="password"
                                placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label for="cpassword" class="control-label">Confirm Password</label>
                            <input type="text" class="form-control" id="cpassword" name="cpassword"
                                placeholder="Confirm Password">
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button class="btn btn-primary btn-lg btn-block" value="Ok" id="submit" type="submit"
                                    name="reset">Ok</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <script>
				const form = document.getElementById('pwd-change')
				form.addEventListener('submit', checkPwd)

				async function checkPwd(event) {
					event.preventDefault()
					const password = document.getElementById('password').value
					const cpassword = document.getElementById('cpassword').value

					const result = await fetch('/api/change-password', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							newpassword: password,
                            cpassword,
							token: localStorage.getItem('token')
							
						})
					}).then((res) => res.json())

					if (result.status === 'ok') {
						// everythign went fine
						alert('Success')
					} else {
						alert(result.error)
					}
				}
			</script>
            <script>
                jQuery(function () {
                    jQuery('#username').focus();
                    jQuery('#username, #email').parent().addClass('has-error');
                });
            </script>

            <!-- Add footer template above here -->
            <div class="clearfix"></div>
            <div style="height: 70px;" class="hidden-print"></div>

        </div> <!-- /div class="container" -->
        <script src="resources/lightbox/js/lightbox.min.js"></script>
    </body>

</html>